<app-pesquisa-musica (atualizarMusicasEvent)="atualizarMusicas($event)"></app-pesquisa-musica>
<mat-list class="make-scrollable" style="height: 500px;overflow-y: auto">

        
    <mat-list-item *ngFor="let musica of listaMusicas">
        <mat-icon mat-list-icon>music_note</mat-icon>
        <h4 mat-line>{{musica.nome}}</h4>
        <p mat-line> {{musica.artista.nome}} </p>
        <mat-checkbox class="example-margin" (change)="selecionarMusica(musica)" [checked]="this.musicasSelecionadas.indexOf(musica.id) >= 0"></mat-checkbox>
    </mat-list-item>
</mat-list>