<div class="container home-body">

  <div class="row" >
    <div class="col-md-5">

      <app-musicas [listaMusicas]="musicas" (adicionado)="atualizarPlaylist($event)" (atualizarMusicasEvent)="atualizarMusicas($event)"></app-musicas>
    </div>

    <div class="col-md-2" style="margin-top: 25%">
      <div class="row" style="text-align: center; display: table; margin: 0 auto;">

        <button mat-fab color="primary" (click)="criaPlaylist()" [(ngModel)]="fabAdd">
          <mat-icon aria-label="adiconar">add</mat-icon>
        </button>
      </div>
      <div class="row" style=" text-align: center; display: table; margin: 0 auto; margin-top: 50px">
        <button mat-fab color="warn" (click)="removerMusicas()" [(ngModel)]="fabRemove">
          <mat-icon aria-label="remover">remove_cicle</mat-icon>
        </button>

      </div>
    </div>

    <div class="col-md-5">
      <app-playlist [musicasPlaylist]="musicasElencadas" (removido)="marcaMusicaRemocao($event)"></app-playlist>
    </div>
  </div>